.App {
  text-align: center;
  color: greenyellow;
  background-color: black;
  min-height: 100vh;
}

.App-header,
.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  height: 25vh;
  justify-content: center;
}

.App-logo {
  filter: invert(78%) sepia(89%) saturate(407%) hue-rotate(28deg) brightness(103%) contrast(101%);
  width: 6em;
  position: absolute;
  right: 1em;
  top: 1em;
}

.App-main {
  height: 75vh;
}

.App-header h1 {
  margin-bottom: 0;
}

.App-header h2{
  margin-top: 0.5em;
}

.chat-container {
  border: 1px solid greenyellow;
  margin: 1em;
  padding: 1em;
  width: 80%;
  height: 70%;
}

.cursor {
  animation: Cursor-blink infinite 1.5s;
  height: 1em;
  width: 0.7em;
  content: "";
  display: block;
  background-color: greenyellow;
}

@keyframes Cursor-blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
